/* Makes body take up at least one screen height */
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #362A4D;
}

body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: #362A4D;
}

/* Github icon */
.repoImg {
  font-size: 40px;
  color: #F5F2F2;
  opacity: 0.88;
}

/* Color button styling */
.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

/* Adds translucent 'pane' behind the group */
.color-button-group {
  background-color: rgba(54, 42, 77, .12);
  border-radius: 4px;
}

/* Modify spacing of group and then its children */
.color-button-group div {
  padding-left: 10px;
  padding-right: 10px;
}

.color-button-group div label {
  margin: 10px 6px 10px 6px;
  border-style: none;
}

/* Dark accent from theme */
.dark_accent {
  background-color: #5B78BB;
}

/* White color from theme */
.white {
  color: #F5F2F2;
}

/* Dark color from theme */
.dark_background {
  background-color: #362A4D;
}

/* Fix button color to theme color */
.btn-primary {
  background-color: #5B78BB !important;
  border-color: #5B78BB !important;
}

/* Override nav color */
.bg-dark {
  background-color: #191919 !important;
}

/* Modify padding and add shadow to nav, color */
nav.navbar {
  padding: .2rem 1rem !important;
  box-shadow: 0 0 72px rgba(0, 0, 0, .37);
  min-height: 62px;
  box-sizing: initial;
  justify-content: normal;
  display: -webkit-box;
}

/* Striped background */
.light-background {
  /* noinspection CssUnknownTarget */
  background-image: url("/static/images/stripes.svg");
  background-size: 250px;
}

/* Adds white background behind striped background */
.light-background-container {
  background-color: #EBEAEE;
  z-index: 10;
  box-shadow: 0 0 72px rgba(0, 0, 0, .37);
}

a {
  color: #1a73e8;
}

a:hover {
  text-decoration: none;
  color: #1a73e8;
}

a:active {
  text-decoration: underline;
}

/* Increases upper margin */
.page-footer {
  margin-top: 36px;
  color: rgba(245, 242, 242, 0.6);
}

.page-footer p, .page-footer h1, .page-footer h2, .page-footer h3, .page-footer h4, .page-footer h5, .page-footer h6 {
  color: rgba(245, 242, 242, 0.6);
}

.page-footer a {
  color: rgba(245, 242, 242, 0.9);
  opacity: 1;
  font-weight: 500;
}

/* Forces footer to float bottom if content is short */
.footer-content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.primary-accent {
  border-top-color: #D9B34F;
}

.bg-lighter {
  background-color: rgb(35, 35, 35) !important;
}

/* transition jitter fix */
i.repoImg {
  position: relative;
  top: 1px;
  font-weight: initial;
}
