h1 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: rgb(35, 35, 35);
  margin-bottom: 12px;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  margin-top: 24px;
  margin-bottom: 12px;
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  margin-top: 28px;
  margin-bottom: 12px;
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

/* Colored link styles */
.link-color {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(35, 35, 35);
  cursor: pointer!important;
}

.link-color:hover {
  color: rgb(70, 70, 70);
}

.link-color:after {
  content: '';
  width: 200%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 1px;
  right: 0;
  background: linear-gradient(90deg, #455488 0%,#5B78BB 50%);
}

/* Add anchor links to headers */
.anchorjs-link {
  transition: all .25s linear;
  color: #5B78BB;
}
.anchorjs-link:hover {
  color: #455488;
  text-decoration: none;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}

a#return-home {
  position: relative;
  top: -20px;
}

a.strong {
  color: #455488;
  font-weight: 600;
}
a.strong:hover {
  color: #5B78BB;
}

strong {
  font-weight: 500;
}

pre.terminal {
  background-color: #282c34;
  border-radius: 6px;
  padding: 16px 20px;
}

pre.terminal br {
  display: block;
  margin: 10px 0;
  content: " ";
}

pre.terminal span.prompt::before {
  content: "$ ";
}

pre.terminal span.win-prompt::before {
  content: "> ";
}

div.content-wrapper {
  margin-top: 110px;
}

div.collapse {
  display: initial;
}
div.collapse:not(.in):not(.collapsing) {
  display: none;
}

div.note {
  padding: 12px 20px;
  background-color: rgba(91, 120, 187, 0.16);
  border-left: 6px solid #5B78BB;
  margin-bottom: 1rem;
}
div.note > p:last-child {
  margin-bottom: 0;
}

*:not(pre) > code {
  background-color: #f6f5f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2px 3px;
  margin: -2px 1px;
  color: #655689;
}
ol {
  font-weight: 500;
  color: #655689;
}
ol li p {
  padding: 0 8px;
  font-weight: 400;
  color: #212529;
  border-left: 1px solid #999;
  margin-bottom: 0;
}
ol li p em {
  display:block;
}

.hljs-comment, .hljs-quote {
  color: #6a717d!important;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -92px;
  height: 92px;
  visibility: hidden;
}

ul.thumbnail-list {
  list-style-type: none;
  margin-top: 24px;
  margin-bottom: 0;
}

ul.thumbnail-list > li {
  padding: 10px;
  overflow: auto;
  display: flex;
  align-content: start;
  justify-content: start;
}

ul.thumbnail-list > li img {
  flex-grow: 0;
  margin: 0 28px 0 0;
  max-width: 80px;
  max-height: 80px;
}

ul.thumbnail-list > li div {
  flex-grow: 1;
}

ul.thumbnail-list > li div h4 {
  margin-bottom: 0;
}

ul.thumbnail-list > li div h5 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #666666;
  font-style: italic;
  margin-bottom: 8px;
}

div.ekko-lightbox.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

figure.figure {
  margin-bottom: 24px;
}

div.color-display > div {
  width: 19%;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  margin-top: 4px;
  margin-bottom: 4px;
}

div.color-display > div > h4 {
  margin: 8px 8px 8px 12px;
  display: inline-block;
  font-size: 0.95rem;
  letter-spacing: 2px;
}

div.color-display div.color-block {
  padding: 32px 8px 8px 12px;
}

div.color-display div.color-block span {
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono Regular", "Lucida Console", monospace;
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 4px;
  color: #333333
}

div.color-display div.color-block.light span {
  color: #F5F2F2;
  background-color: rgba(0, 0, 0, 0.1);
}

div.fonts {
  margin: 16px 0 32px 0;
  padding: 16px 28px 8px 28px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

div.fonts span.font-name {
  display: block;
  margin-bottom: 0;
  font-size: 24px;
}

div.fonts span.font-description {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-style: italic;
  margin-top: -8px;
  color: #333333;
}

div.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.phone-demo-container {
  justify-content: start;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 2em;
  overflow-x: hidden;
}

div.phone-demo-container > div {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  overflow-x: hidden;
}

div.phone-demo-container div.phone-demo {
  height: 732px;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-bottom: 0.5em;
}

div.phone-demo-container div.phone-demo > img {
  width: 412px;
}

@media(max-width: 767px) {
  ul.thumbnail-list {
    padding-left: 0;
  }

  ul.thumbnail-list > li img {
    float: left;
    margin: 0 28px 0 0;
    max-width: 60px;
    max-height: 60px;
  }

  div.color-display > div {
    width: 49%;
  }
}
