.error-container h1, .error-container p, .error-container .error-icon {
  color: #362A4D;
}

.error-container h1 {
  font-size: 36px;
  font-family: Roboto Slab, serif;
}

.error-container p {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  opacity: 0.9;
}

.status-wrapper {
  margin: -20px 0 16px 0;
}

.error-container .status-wrapper .status-code {
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

.error-icon {
  font-size: 40px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

@media (max-width: 399px) {
  .error-container h1 {
    font-size: 28px;
  }

  .error-container p {
    font-size: 14px;
  }

  .error-container .status-code {
    font-size: 11px;
  }
}

.error-container {
  padding-top: 120px;
  padding-bottom: 65px;
}

.nav-title {
  font-size: 28px;
  font-family: Roboto, sans-serif;
  margin-left: 0;
  color: #F5F2F2;
  display: inline;
  position: relative;
  top: -4px;
}