@(gameId: String, baseUrl: String, isHost: Boolean)(implicit request: MessagesRequestHeader)

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="https://unpkg.com/vuex@@3.1.0/dist/vuex.js"></script>
<script src='@routes.Assets.versioned("vue/components/Lobby.js")'></script>

@base("Risk: The Game of Global Domination", "<link rel=\"stylesheet\" media=\"screen\" href=\"" + routes.Assets.versioned("stylesheets/app.css") + "\">") {
  <!-- vue js tag-->
  <div id="app">
    <lobby v-on:join-lobby="join"></lobby>
  </div>
}
<script>
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var gameId = '@gameId';
  var playerId = getCookie('playerId');
  var ws = new WebSocket("ws://localhost:9000/ws/" + gameId + "/" + playerId);

  const store = new Vuex.Store({
    state: {
      players: [],
      colors: [ "2980b9", "27ae60", "8e44ad", "f39c12", "c0392b", "95a5a6" ],
      current: "",
      host: "",
      slots: 6,
      isHost: @isHost
    },
    mutations: {
      updateList: function (state, newPlayers) {
        state.players = newPlayers;
      },
      updateCurrent: function (state, newCurrent) {
        state.current = newCurrent;
      },
      updateHost: function (state, newHost) {
        state.host = newHost;
      },
      updateIsHost: function (state, newIsHost) {
        state.isHost = newIsHost;
      }
    }
  });

  ws.onopen = function() {
    console.log("Message is sent...");
  };
  ws.onmessage = function (evt) {
    var received_msg = evt.data;
    var parsed = JSON.parse(received_msg);
    if (parsed._type == "controllers.PingClient") {
      ws.send(JSON.stringify({
        "_type": "controllers.PingResponse",
        "gameId": gameId,
        "clientId": playerId}));
    }
    else if (parsed._type == "controllers.RequestReply") {
      console.log(parsed);
    }
    else if (parsed._type == "controllers.GameLobbyUpdate") {
      //console.log(parsed.seq);
      //console.log(parsed.host);
      var players = [];
      for (var i = 0; i < parsed.seq.length; i++) {
        players.push({"name": parsed.seq[i].name, "color":"#" + store.state.colors[parsed.seq[i].ordinal]});
      }
      store.commit('updateHost', parsed.seq[parsed.host].name);
      if (store.state.current === "" && store.state.isHost) {
        store.commit('updateCurrent', store.state.host);
      }
      if (store.state.isHost ^ (store.state.current === parsed.seq[parsed.host].name)) {
      	store.commit('updateIsHost', (store.state.current === parsed.seq[parsed.host].name));
      }
      store.commit('updateList', players);
    }
    else if (parsed._type == "controllers.StartGame") {
      console.log("STARTING GAME!");
    }
    else {
      console.log(parsed._type);
    }
  };

  ws.onclose = function() {
    console.log("Connection is closed...");
  };

  var app = new Vue({
    el: '#app',
    render: function(html) {
      return html(Lobby.default);
    },
    methods: {
      join: function(name, color) {
        ws.send(JSON.stringify({
          "_type": "controllers.RequestPlayerJoin",
          "clientId": playerId,
          "gameId": gameId,
          "withSettings": {
            "name": name,
            "ordinal": parseInt(color)
          }
        }));
        store.commit('updateCurrent', name);
      },
      startGame: function() {
        console.log("STARTING GAME");
        ws.send(JSON.stringify({
          "_type": "controllers.RequestStartGame",
          "gameId": gameId,
          "clientId": playerId}));
      }
    },
    store
  })
</script>