@(lobbyId: String, baseUrl: String, isHost: Boolean, players: play.api.libs.json.JsValue)(implicit request: MessagesRequestHeader)

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src='@routes.Assets.versioned("vue/components/Lobby.js")'></script>

@base("Risk: The Game of Global Domination", "<link rel=\"stylesheet\" media=\"screen\" href=\"" + routes.Assets.versioned("stylesheets/app.css") + "\">") {
  <!-- vue js tag-->
  <div id="app">
  </div>
}
<script>
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  var gameID = document.URL.substr(document.URL.lastIndexOf('/') + 1);
  var playerId = document.cookie.substring(9);
  var ws = new WebSocket("ws://localhost:9000/ws/" + gameID + "/" + playerId);
  ws.onopen = function() {
    console.log("Message is sent...");
  };
  ws.onmessage = function (evt) {
    var received_msg = evt.data;
    var colors = [ "2980b9", "27ae60", "8e44ad", "f39c12", "c0392b", "95a5a6" ];
    console.log(received_msg);
    //TODO: parse recieved_msg, which is a String in json format
    //TODO: create a bunch of ifs and elseifs based on the _type of the response we received, imbed the
    //following line in one of those
    var parsed = JSON.parse(received_msg);
    if (parsed._type == "controllers.PingClient") {
      ws.send(JSON.stringify({
        "_type": "controllers.PingResponse",
        "gameId": gameID,
        "clientId": playerId}));
    }
    else if (parsed._type == "controllers.GameLobbyUpdate") {
      //console.log(parsed.seq);
      //console.log(parsed.host);
      var players = [];
      for (var i = 0; i < parsed.seq.length; i++) {
        players.push({"name": parsed.seq[i].name, "color":"#" + colors[parsed.seq[i].ordinal]});
      }
      //app.host = parsed.seq[parsed.host].name;
    }
    else {
      console.log(parsed._type);
    }
  };
  ws.onclose = function() {
    console.log("Connection is closed...");
  };
  var app = new Vue({
    el: '#app',
    render: function(html) {
      return html(Lobby.default, {
        props: {
          players: document.querySelector("#app").dataset.players,
          baseUrl: document.querySelector("#app").dataset.domainLink,
          gameId: document.querySelector("#app").dataset.gameId,
          isHost: document.querySelector("#app").dataset.isHost
        }
      });
    },
    data: {
      json: []
    },
    methods: {
      // setJson: function(payload) {
      //   this.json = payload;
      //   console.log('hello');
      // }
    }
  })
</script>