@(lobbyId: String, baseUrl: String, isHost: Boolean, players: play.api.libs.json.JsValue)(implicit request: MessagesRequestHeader)

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src='@routes.Assets.versioned("vue/components/Lobby.js")'></script>

@base("Risk: The Game of Global Domination", "<link rel=\"stylesheet\" media=\"screen\" href=\"" + routes.Assets.versioned("stylesheets/app.css") + "\">") {
  <!-- vue js tag-->
  <div id="app">
  </div>
}
<script>
  var app = new Vue({
    el: '#app',
    render: function(html) {
      return html(Lobby.default, {
        props: {
          players: document.querySelector("#app").dataset.players,
          baseUrl: document.querySelector("#app").dataset.domainLink,
          gameId: document.querySelector("#app").dataset.gameId,
          isHost: document.querySelector("#app").dataset.isHost
        }
      });
    },
    data: {
      json: []
    },
    methods: {
      // setJson: function(payload) {
      //   this.json = payload;
      //   console.log('hello');
      // }
    }
  })
</script>