@(message: String)(status: String)
<!-- Call base template -->
@base("CS 2340 Risk | Error " + status.substring(0, status.indexOf(' '))) {
  <!-- Head scripts/css -->
  <link rel="stylesheet" media="screen" href="/static/stylesheets/error.css">
} {
  <!-- Header content -->
  <p class="nav-title">Error</p>
} {
  <!-- Content -->
  <div class="light-background-container">
    <div class="light-background error-container d-flex flex-column align-items-center" style="overflow: auto">
      <div class="d-flex flex-row">
        <i class="fas fa-exclamation-triangle error-icon d-none d-sm-block"></i>
        <div class="mx-3">
          <h1>An error occurred</h1>
          <p>@message</p>
          <div class="status-wrapper">
            <p class="status-code">Status code @{status.toString}</p>
          </div>
          <a class="btn btn-primary mt-1" href="/"><i class="fas fa-arrow-left mr-2"></i>Return</a>
        </div>
      </div>
    </div>
  </div>
}()
