@()
<footer class="page-footer font-small bg-lighter">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 justify-content-center">
      <div class="col-md-4 col-lg-5 col-xl-4 mb-4">
        <h6 class="text-uppercase font-weight-bold">About</h6>
        <hr class="primary-accent mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>CS 2340 Risk is a Scala web app that exposes a WebSocket API, leveraging the Akka Actor system to manage state. The front-end is built with Vue.js and HTML Canvases.</p>
      </div>
      <div class="col-6 col-md-2 col-lg-2 col-xl-2 mb-4">
        <h6 class="text-uppercase font-weight-bold">Docs</h6>
        <hr class="primary-accent mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/docs/">Scaladocs</a>
        </p>
        <p>
          <a href="/docs/backend.uml.pdf">UML Diagram</a>
        </p>
        <p>
          <a href="https://github.gatech.edu/achafos3/CS2340Sp19Team10/blob/master/README.md" target="_blank" rel="noopener">Readme</a>
        </p>
      </div>
      <div class="col-6 col-md-2 col-lg-2 col-xl-2 mb-4">
        <h6 class="text-uppercase font-weight-bold">Source</h6>
        <hr class="primary-accent mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://github.gatech.edu/achafos3/CS2340Sp19Team10/tree/master" target="_blank" rel="noopener">Master</a>
        </p>
        <p>
          <a href="https://github.gatech.edu/achafos3/CS2340Sp19Team10/tree/indev" target="_blank" rel="noopener">Indev</a>
        </p>
        <p>
          <a href="https://github.gatech.edu/achafos3/CS2340Sp19Team10/releases" target="_blank" rel="noopener">Releases</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 bg-dark">Produced for CS 2340 with Dr. Simpkins:
    <a href="https://cs2340.gitlab.io/" target="_blank" rel="noopener" title="gitlab class website"> Class website</a>
  </div>
</footer>