@(lobbyId: String, baseUrl: String, isHost: Boolean, players: play.api.libs.json.JsValue)(implicit request: MessagesRequestHeader)

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src='@routes.Assets.versioned("vue/components/Lobby.js")'></script>

<script>
  function parse(s) {
    return JSON.parse(decodeURIComponent(escape(atob(s))));
  }
</script>

@base("Risk: The Game of Global Domination", "<link rel=\"stylesheet\" " +
        "href=\"https://use.fontawesome.com/releases/v5.7.2/css/brands.css\" " +
        "integrity=\"sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK\" " +
        "crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" " +
        "href=\"https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css\" " +
        "integrity=\"sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+\" " +
        "crossorigin=\"anonymous\">") {
  <div>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand">Lobby</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </div>

  <!-- vue js tag-->
  <div id="app" :json="setJson(@{players})" data-players="@players" data-domain-link="@baseUrl" data-lobby-id="@lobbyId" data-is-host="@isHost">
    <player-list></player-list>
  </div>
}
<script>
  var app = new Vue({
    el: '#app',
    render: function(html) {
      return html(Lobby.default, {
        props: {
          players: document.querySelector("#app").dataset.players,
          baseUrl: document.querySelector("#app").dataset.domainLink,
          gameId: document.querySelector("#app").dataset.gameId,
          isHost: document.querySelector("#app").dataset.isHost
        }
      });
    },
    data: {
      json: []
    },
    methods: {
      // setJson: function(payload) {
      //   this.json = payload;
      //   console.log('hello');
      // }
    }
  })
</script>