@import helper._
@import common.Resources
@(postUrl: Call, isHost: Boolean)(implicit request: MessagesRequestHeader)
<div style="margin-top: 40px;">
    @helper.form(postUrl, 'id -> "user_form") {
        @CSRF.formField
        @helper.inputText(Resources.UserForm("name"))
        @helper.inputRadioGroup(
            Resources.UserForm("ordinal"),
            options=Resources.Colors.indices.map((i: Int) => i.toString -> i.toString)
        )

        @if(isHost){
            <button>Create Game</button>
        } else {
            <button>Join Game</button>
        }
    }
</div>
<script type="text/javascript">
  @for(i <- Resources.Colors.indices) {
    $("[for='colorIndex_@i']").css("color", "#@Resources.Colors(i).hex.toString");
  }
</script>